li {
    display: inline-block;
    height: 100px;
    width: 200px;
    border: red solid;
    background-color: yellow;
    list-style: none;
    text-align: center;
    line-height: 100px;
    border-radius: 35%;
}

a {
    text-decoration: none;
    display: inline-block;
    width: 200px;
}