li {
    color: rgb(192, 112, 14);
}

.li6 {
    color: blueviolet;
}

.li5 {
    color:blue ;    
}

.li4 {
    color:rgb(121, 121, 57) ;    
}

.li3 {
    color:goldenrod ;    
}

.li2 {
    color:green ;    
}

.li1 {
    color: red;    
}

.li6:hover{
    color: saddlebrown;
}
