li {
    color: rgb(192, 112, 14);
}

.li6 {
    color: blueviolet;
}

.li5 {
    color:blue ;    
}

.li4 {
    color:rgb(121, 121, 57) ;    
}

.li3 {
    color:goldenrod ;    
}

.li2 {
    color:green ;    
}

.li1 {
    color: red;    
}

.li6:hover {
    color: saddlebrown;
}


div:nth-child(4n+1) {
    background-color: red;
    height: 2rem;
    width: 4rem;
    display: inline-block;
    /* margin: 1rem; */
    border-radius: 40%;
    border: black solid 1px;
}
div:nth-child(4n+2) {
    background-color: blue;
    height: 2rem;
    width: 4rem;
    display: inline-block;
    /* margin: 1rem; */
    border-radius: 40%;
    border: black solid 1px;
}
div:nth-child(4n+3) {
    background-color: yellow;
    height: 2rem;
    width: 4rem;
    display: inline-block;
    /* margin: .5rem; */
    border-radius: 40%;
    border: black solid 1px;
}
div:nth-child(4n+4) {
    background-color: green;
    height: 2rem;
    width: 4rem;
    display: inline-block;
    /* margin: 1rem; */
    border-radius: 40%;
    border: black solid 1px;
}