h1 {
    text-shadow: 2px 2px cadetblue;
    font-size: 3rem;
}

p#id1 {
    font-family: serif;
    font-weight: bolder;
    font-size: 2rem;
}

p#id2 {
    font-family: sans-serif;
    font-size: 2rem;
}

p#id3 {
    font-family: 'Roboto Condensed' , sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

p#id4 {
    font-family: 'Roboto Condensed' , sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

p#id5 {
    font-style: italic;
    text-transform: uppercase;
}

p#id6 {
    letter-spacing: .5rem ;
}

p#id7 {
    text-decoration: line-through;
}

p#id8 {
    text-indent: 5rem;
}

a{
    text-decoration: none;
}