li {
    color: bisque;
}

.li6 {
    color: blueviolet;
}

.li5 {
    color:blue ;    
}

.li4 {
    color:yellow ;    
}

.li3 {
    color:goldenrod ;    
}

.li2 {
    color:green ;    
}

.li1 {
    color: red;    
}