@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* 
header {
    display: flex;
    flex-flow: row wrap;
} */
/* nav {
    display: flex;
    flex-flow: row wrap;
} */
.ul-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    border: blue solid 2px;
    width: 100%;
    background-color: #f7e9b0;
}
li {
    text-decoration: none;
    list-style: none;
    padding: 10px;
    
}
a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px;
}

.ul-header{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 10px;
    border: blue solid 2px;
    background-color: #f7e9b0;
    width: 100%;
}

body {
    height: 1080px;
    background-color: #a69963;
}


p {
    font-family: 'Square Peg', cursive;
    font-size: 25px;
    padding: 10px;
    margin: 10px;
}
a:link {
    color: #b8b197;
  }
  

  a:visited {
    color: #a69963;
  }
  
  a:hover {
    color: #a69963;
  }
  
  a:active {
    color: #b8b197;
  }

  main {
      display: flex;
      flex-flow: row-reverse;
      align-items: center;
  }
  /* img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
  } */

  .body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-image: url(/imgs/pexels-monique-laats-733090.jpg);
    background-size: cover;
    background-repeat: no-repeat;

  }
  h1 {
      font-size: 50px;
      position: relative;
      top: 300px;
  }

  .main {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }